body {
  padding: 10px;
  font-family: sans-serif;
}

.header {
  padding-bottom: 12px;
  border-bottom: 1px solid black;
}

form input[type=text],input[type=password],input[type=email] {
  padding: 6px 10px;
}
