<template name="Search_project">
    <div class="dropdown">
        <button onclick="myFunction()" class="dropbutton">Aspects techniques</button>
        <div id="myDropdown" class="dropdown_content">
            <input type="text" placeholder="Search" id="myInput" onkeyup="filterFunction()">
            <a href="#JavaScript">JavaScript</a>
            <a href="#C">C</a>
            <a href="#C++">C++</a>
            <a href="#Python">Python</a>
            <a href="#PHP">PHP</a>
            <a href="#Ruby">Ruby</a>
            <a href="#2D">2D</a>
            <a href="#3D">3D</a>
            <a href="#First Person">First Person</a>
            <a href="#Open World">Open World</a>
        </div>
        <button onclick="myFunction()" class="dropbutton">Genre(s)</button>
        <div id="myDropdown" class="dropdown_content">
            <input type="text" placeholder="Search" id="myInput" onkeyup="filterFunction()">
            <a href="#Action">Action</a>
            <a href="#Aventure">Aventure</a>
            <a href="#Simulation">Simulation</a>
            <a href="#RPG">RPG</a>
            <a href="#Shooter">Shooter</a>
            <a href="#Plateforme">Plateforme</a>
            <a href="#Multijoueurs">Multijoueurs</a>
            <a href="#Combat">Combat</a>
            <a href="#Beat 'em up">Beat 'em up</a>
            <a href="#Stratégie">Stratégie</a>
            <a href="#Survie">Survie</a>
            <a href="#Battle Royal">Battle Royal</a>
            <a href="#Rythme">Rythme</a>
            <a href="#Horreur">Horreur</a>
            <a href="#Metroidvania">Metroidvania</a>
            <a href="#Aventure textuelle">Aventure textuelle</a>
            <a href="#Visual novel">Visual novel</a>
            <a href="#MMORPG">MMORP</a>
            <a href="#Roguelike">Roguelike</a>
            <a href="#Casual">Casual</a>
            <a href="#Familial">Familial</a>
            <a href="#Educatif">Educatif</a>
        </div>
    </div>
</template>